{{>partials/header}}

<div class="container list">
    {{#list}}
    <div class="item">
        <img src="media/{{image}}.jpg" class="item--image" />
        <div class="item--name">{{ name }}</div>
        <div class="item--color">Preço: {{ price }} reais</div>
        <div class="item--color">ingredientes: <br>{{ #ingredients }}{{name}}<br>{{ /ingredients }}</div>
    </div>
    {{/list}}
</div>

{{^list}}
<div class="container no-list">
    <h2>Nenhum produto cadastrado</h2>
</div>
{{/list}}

{{>partials/footer}}